<%= form_for book do |f| %>
  <div>
    <% book.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  </div>

  <div>
    <%= f.label :title %>:
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :opinion %>:
    <%= f.text_area :opinion %>
  </div>

  <div>
    <%= f.label :image %>:
    <%= f.file_field :image %>

  <div>
    <%= f.submit %>
  </div>
<% end %>
